<!DOCTYPE html>
<html lang="en" data-color-mode="dark" data-dark-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>

    <title>Grape I/O</title>
</head>
<body>
    <div id="app"></div>

    <script type="module">
    const { createApp } = Vue
    let wines = []
    fetch("./assets/wines.json")
        .then(res => res.json())
        .then(data => {
            wines = data
        })

    createApp({
        data() {
            return {
                inputType: "",
                parameters: {
                    "fixed-acidity": 0,
                    "volatile-acidity": 0,
                    "citric-acid": 0,
                    "residual-sugar": 0,
                    "chlorides": 0,
                    "free-sulfur-dioxide": 0,
                    "total-sulfur-dioxide": 0,
                    "density": 0,
                    "pH": 0,
                    "sulphates": 0,
                    "alcohol": 0
                },
                canSubmit: false,
                errors: {
                    "fixed-acidity": false,
                    "volatile-acidity": false,
                    "citric-acid": false,
                    "residual-sugar": false,
                    "chlorides": false,
                    "free-sulfur-dioxide": false,
                    "total-sulfur-dioxide": false,
                    "density": false,
                    "pH": false,
                    "sulphates": false,
                    "alcohol": false
                },
                productName: "",
                productSelected: undefined,
                loading: false,
                showResults: false,
                quality: 0,
                
                productLookupAutocomplete: []
            }
        },
        template: /*html*/`
            <!-- Header -->
            <div class="Header">
                <div class="Header-item">
                    <a href="/" class="Header-link f4 d-flex flex-items-center">
                        <span class="h1">Grape I/O</span>
                    </a>
                </div>
                <div class="Header-item Header-item--full">
                    <img class="logo" width="100" height="100" src="assets/grapeio.svg">
                </div>
            </div>

            <!-- Input section -->
            <div class="Box m-4">
                <div class="Box-header">
                    <h3 class="Box-title h2">Input</h3>
                </div>
                <div class="Box-body">
                    <span class="h5">What would you like to analyze today?</span>
                    <form class="mt-2" @submit="submit">
                        <div class="radio-group">
                        <input class="radio-input" id="parameters" type="radio" name="options" value="parameters" v-model="inputType">
                        <label class="radio-label" for="parameters">Wine parameters</label>
                        <input class="radio-input" id="product" type="radio" name="options" value="products" v-model="inputType">
                        <label class="radio-label" for="product">Wine product</label>
                        </div>


                        <div id="parameters-input-group" v-if="inputType == 'parameters'" class="form-group">
                            <span class="d-block h5 form-group-header">Please input all parameters as non-negative decimals</span>

                            <div v-for="value, parameter in parameters" class="form-group" :class="{errored: errors[parameter]}" > 
                                <label :for="parameter" class="form-label form-group-header d-block">{{ parameter.charAt(0).toUpperCase() + parameter.slice(1).replaceAll("-", " ") }}</label>
                                <input :id="parameter + '-input'" type="number" step="0.000001" :name="parameter" class="form-control d-block form-group-body" @input="parametersFieldValidate(parameter)" v-model="parameters[parameter]">
                                <p class="note error">bruh</p>
                            </div>

                        </div>

                        <div id="products-input-group" v-if="inputType == 'products'" class="form-group container-lg clearfix">
                            <span class="d-block h5 form-group-header">Please start typing the name of wine you desire to analyze and select from dropdown</span>
                            <div class="position-relative">
                                <div class="col-4 float-left p-4">
                                    <label for="input-0" class="autocomplete-label-stacked">Wine lookup</label>
                                    <span class="autocomplete-body">
                                        <input id="product-lookup" v-model="productName" class="form-control" type="text" @input="productLookupTyping" />
                                        <ul v-if="productLookupAutocomplete.length > 0" role="listbox" aria-label="Results" class="autocomplete-results">
                                        <li v-for="wine in productLookupAutocomplete" @click="productLookupAutocompleteAccept(wine)" class="autocomplete-item">{{wine.name}} - {{wine['vintage-name']}} <span class="color-fg-muted">{{wine.year}}</span></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-4 float-left p-4" v-if="productSelected">
                                    <span class="d-block h4 form-group-header">You selected this wine:</span>
                                    <div v-if="productSelected['bottle-shot']" class="Box p-3 width-fit" width="100" data-color-mode="light" data-light-theme="light">
                                        <img class="" height="250" :src="productSelected['bottle-shot']">
                                    </div>
                                    <div v-else class="Box p-3 width-fit" width="100" data-color-mode="light" data-light-theme="light">
                                        <img height="250" src="assets/wine-bottle-nobg.png">
                                    </div>
                                </div>
                                <div class="col-4 float-left p-4" v-if="productSelected">
                                    <span class="d-block h2 my-1">{{productSelected.name}}</span>
                                    <span class="d-block h3 my-1">{{productSelected['vintage-name']}} - {{productSelected.year}}</span>
                                    <span class="d-block h4 color-fg-muted my-1">{{productSelected['origin']}}</span>

                                    <table class="my-2 p-1 mx-0 Box rounded-3">
                                        <tr><td class="border-bottom p-2">pH</td>
                                            <td v-if="productSelected['ph']" class="border-bottom p-2">{{productSelected['ph']}}</td>
                                            <td v-else class="color-bg-closed border-bottom p-2">Not available</td>
                                        </tr>
                                        <tr><td class="border-bottom p-2">Alcohol</td>
                                            <td v-if="productSelected['abv']" class="border-bottom p-2">{{productSelected['abv']}}</td>
                                            <td v-else class="color-bg-closed border-bottom p-2">Not available</td>
                                        </tr>
                                        <tr><td class="border-bottom p-2">Sugar</td>
                                            <td v-if="productSelected['sugar']" class="border-bottom p-2">{{productSelected['sugar']}}</td>
                                            <td v-else class="color-bg-closed border-bottom p-2">Not available</td>
                                        </tr>
                                        <tr><td class="p-1">Acidity</td>
                                            <td v-if="productSelected['acidity']" class="p-2">{{productSelected['acidity']}}</td>
                                            <td v-else class="color-bg-closed p-2">Not available</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div v-if="inputType != ''" class="form-group">
                            <button type="submit" :disabled="!canSubmit" class="btn btn-primary">Evaluate</button>
                        </div>
                    </form>
                </div>
            </div>


            <!-- Output section -->
            <div id="output-section" class="w-full">
                <div class="center">
                    <div id="loading-animation Box m-4 " v-if="loading">
                        <img width="250" src="assets/wine-dark-nobg.gif" alt="loading">
                        <h3 class="h3 center">Processing</h3>
                    </div>
                </div>
                <div class="Box m-4" id="result" v-if="showResults">
                    <div class="Box-header">
                        <h3 class="Box-title h2">Output</h3>
                    </div>
                    <div class="Box-body">
                        <div id="output-quality" class="p-1">
                            <span class="h3">Quality:</span>
                            <span class="mx-2">
                                <img v-for="i in quality" src="assets/star-gold.svg" class="mx-1">
                                <img v-for="i in (10-quality)" src="assets/star-white.svg" class="mx-1">
                            </span>
                            <span class="h3">({{ quality }}/10)</span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Footer -->
            <div class="Header footer">
                <div class="Header-item center">
                    <span class="">By Alex Gulko, David Novikov, Jonathan Wang, and Gowrav Mannem for HackAI 2023</span>
                </div>
            </div>

        `,
        methods: {
            submit(e) {
                e.preventDefault()
                this.canSubmit = false
                this.showResults = false
                this.loading = true
                console.log("submit")
                if (this.inputType == "product") {
                    this.parameters = {
                        "ph": this.productSelected['ph'],
                        "sugar": this.productSelected['sugar'],
                        "alcohol": this.productSelected['abv'],
                        "acidity": this.productSelected['acidity']
                    }
                }
                this.quality = predict(this.parameters)
                // scroll to loading animation
                setTimeout(() => {
                    document.getElementById("output-section").scrollIntoView({behavior: "smooth"})
                }, 100)
                // document.getElementById("output-section").scrollIntoView({behavior: "smooth"})

                setTimeout(() => {
                    this.loading = false
                    this.showResults = true
                    this.canSubmit = true
                }, 2000)
            },
            parametersFieldValidate(parameter) {
                if (typeof this.parameters[parameter] != "number" || this.parameters[parameter] < 0) {
                    this.errors[parameter] = true
                    this.canSubmit = false
                } else {
                    this.errors[parameter] = false
                    this.canSubmit = true
                    for (let error in this.errors) {
                        if (this.errors[error]) {
                            this.canSubmit = false
                            break
                        }
                    }
                }

            },
            productLookupTyping(e) {
                if (this.productName.length > 0) {
                    this.productLookupAutocomplete = wines.filter(wine => wine.name.toLowerCase().includes(this.productName.toLowerCase()))
                } else {
                    this.productLookupAutocomplete = []
                }
            },
            productLookupAutocompleteAccept(wine) {
                this.productSelected = wine
                this.productName = wine.name
                this.productLookupAutocomplete = []
                document.getElementById("product-lookup").value = ""
            }
        }

    }).mount('#app')
    </script>

    
</body>
<script src="ai.js"></script>
<script src="script.js"></script>
</html>