body {
  margin: 0;
  margin-bottom: 70px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.baseline-center {
  vertical-align: middle;
}

.width-fit {
  width: fit-content;
}

.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
}